.weatherContainer{
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

@media screen and (max-width:800px) {
    .weatherContainer{
        padding: 30px;
        /* width: 500px;
        height: 500px; */
        /* margin-left: 30px;
        margin-right: 30px; */
    }
}